.header {
  padding: 50px;
  text-align: center;
  background: #abcdef;
  color: white;
  font-size: 30px;
}

body{
    background:#abcdef;
    margin-top: 0px;
}

.container-fluid {
    display: inline-block;
}

/*.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    /*background-color: #fff;
}*/

.member-card {
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    /*background-color: #99ffcc;
    width: 10rem*/
    /* this is where the cards are messed up */
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 3px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.text-state {
    color: #3CB371;
}

.btn-rounded {
    border-radius: 2em;
}

.text-muted {
    color: #98a6ad!important;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}