.header {
  padding: 50px;
  text-align: center;
  background: #abcdef;
  color: white;
  font-size: 30px;
}

body{
    background:#abcdef;
    margin-top: 0px;
}

.container-fluid {
    display: inline-block;
}

table{
    border-collapse: separate;
    border-spacing: 4em;
}

.member-card {
    padding: 15px;
    width: 10rem;
    max-height: 450px;
    white-space: nowrap;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 3px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.text-state {
    color: #3CB371;
}

.btn-rounded {
    border-radius: 2em;
}

.text-muted {
    color: #98a6ad!important;
}

h4 {
    line-height: 22px;
    font-size: 15px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}