.header {
  padding: 30px;
  text-align: center;
  background: #abcdef;
  color: white;
  font-size: 30px;
}

body{
    background:#abcdef;
    margin-top: 0px;
}

table{
    width: 90%;
}

h4 {
    line-height: 22px;
    font-size: 15px;
}

.img-arrow{
    max-width: 8%;
    max-height: 8%;
}

.text-state {
    color: #3CB371;
}

.text-muted {
    color: #909090;
}


.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    max-width: 50%;
    max-height: 50%;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.my-custom-scrollbar {
    position: relative;
    height: 550px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

th {
  cursor: pointer;
}

footer {
  margin-top: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
}