<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Style content CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <!-- Local stylesheet elements -->
    <link rel="stylesheet" href="about.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-light static-top">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members')}}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
    </nav>

    <!-- HEADER -->
    <div class="header">
        <h1 class="display-4">About Us</h1>
        <p>Information on our team and the devolopement of this site</p>
    </div>

    <!-- Personal Cards -->
    <div class="card-deck justify-content-center mx-2">
        <div class="card card-body">
            <img class="card-img-top" src="images/andrew.jpg" alt="Andrew Picture"> <br/>
            <h3 class="card-title text-center">Andrew Kim</h3>
            <h5 class="card-subtitle text-center text-muted">Back-end Developer</h5> <br/>
            <h6 class="card-subtitle text-center text-muted">Senior Mathematics Major</h6> <br/>
            <p class="card-text">Interested in deep learning and machine learning Engineer or researcher. Video gamer, gym-goer, and dog lover.</p>
        </div>

        <div class="card card-body">
            <img class="card-img-top" src="images/alina.png" alt="Alina Picture"> <br/>
            <h3 class="card-title text-center">Alina Mawji</h3>
            <h5 class="card-subtitle text-center text-muted">Full-stack Developer</h5> <br/>
            <h6 class="card-subtitle text-center text-muted">Senior Nutrition Major</h6> <br/>
            <p class="card-text">Aspiring machine learning engineer or data scientist. Volunteer, fitness enthusiast, and cat lover.</p>
        </div>

        <div class="card card-body">
            <img class="card-img-top" src="#" alt="Grant Picture"> <br/>
            <h3 class="card-title text-center">Grant Miller</h3>
            <h5 class="card-subtitle text-center text-muted">Full-stack Developer</h5> <br/>
            <h6 class="card-subtitle text-center text-muted">Major and Year</h6> <br/>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis euismod ligula vitae cursus.</p>
        </div>

        <div class="card card-body">
            <img class="card-img-top" src="images/michael.png" alt="Michael Picture"> <br/>
            <h3 class="card-title text-center">Michael DiLeo</h3>
            <h5 class="card-subtitle text-center text-muted">Front-end Developer</h5> <br/>
            <h6 class="card-subtitle text-center text-muted">Senior Biology Major</h6> <br/>
            <p class="card-text">Premed student interested in website developement. Rower, cyclist, chess enthusiast, and fellow cat lover.</p>
        </div>

        <div class="card card-body">
            <img class="card-img-top" src="#" alt="Robert Picture"> <br/>
            <h3 class="card-title text-center">Robert Everson</h3>
            <h5 class="card-subtitle text-center text-muted">Back-end Developer</h5> <br/>
            <h6 class="card-subtitle text-center text-muted">Junior Economics Major</h6> <br/>
            <p class="card-text">Passionate software developer focusing on DevOps and cyber security.</p>
        </div>
    </div>

