<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Style content CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <!-- Local stylesheet elements -->
    <link rel="stylesheet" href="about.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-light static-top">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members')}}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
    </nav>

    <!-- HEADER -->
    <div class="header">
        <h1 class="display-4">About Us</h1>
        <p>Information on our team and the devolopement of this site</p>
    </div>

    <!-- Personal Cards -->
    <div class="card-deck justify-content-center mx-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="images/andrew.jpg" alt="Andrew Picture"> <br/>
                <h3 class="card-title text-center">Andrew Kim</h3>
                <h5 class="card-subtitle text-center text-muted">Back-end Developer</h5> <br/>
                <h6 class="card-subtitle text-center text-muted">Senior Mathematics Major</h6> <br/>
                <p class="card-text">Interested in deep learning and machine learning Engineer or researcher. Video gamer, gym-goer, and dog lover.</p>
            </div>
            <div class="card-footer text-center">
                <p>1 Commit</p>
                <hr/>
                <p>1 Issues</p>
                <hr/>
                <p>0 Unit Tests</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="images/alina.png" alt="Alina Picture"> <br/>
                <h3 class="card-title text-center">Alina Mawji</h3>
                <h5 class="card-subtitle text-center text-muted">Full-stack Developer</h5> <br/>
                <h6 class="card-subtitle text-center text-muted">Senior Nutrition Major</h6> <br/>
                <p class="card-text">Aspiring machine learning engineer or data scientist. Volunteer, fitness enthusiast, and cat lover.</p>
            </div>
            <div class="card-footer text-center">
                <p>18 Commit</p>
                <hr/>
                <p>20 Issues</p>
                <hr/>
                <p>0 Unit Tests</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="#" alt="Grant Picture"> <br/>
                <h3 class="card-title text-center">Grant Miller</h3>
                <h5 class="card-subtitle text-center text-muted">Full-stack Developer</h5> <br/>
                <h6 class="card-subtitle text-center text-muted">Major and Year</h6> <br/>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis euismod ligula vitae cursus.</p>
            </div>
            <div class="card-footer text-center">
                <p>0 Commit</p>
                <hr/>
                <p>0 Issues</p>
                <hr/>
                <p>0 Unit Tests</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="images/michael.png" alt="Michael Picture"> <br/>
                <h3 class="card-title text-center">Michael DiLeo</h3>
                <h5 class="card-subtitle text-center text-muted">Front-end Developer</h5> <br/>
                <h6 class="card-subtitle text-center text-muted">Senior Biology Major</h6> <br/>
                <p class="card-text">Premed student interested in website developement. Rower, cyclist, chess enthusiast, and fellow cat lover.</p>
            </div>
            <div class="card-footer text-center">
                <p>4 Commit</p>
                <hr/>
                <p>2 Issues</p>
                <hr/>
                <p>0 Unit Tests</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img class="card-img-top" src="images/robert.JPG" alt="Robert Picture"> <br/>
                <h3 class="card-title text-center">Robert Everson</h3>
                <h5 class="card-subtitle text-center text-muted">Back-end Developer</h5> <br/>
                <h6 class="card-subtitle text-center text-muted">Junior Economics Major</h6> <br/>
                <p class="card-text">Passionate software developer focusing on Dev-Ops and cyber security.</p>
            </div>
            <div class="card-footer text-center">
                <p>7 Commit</p>
                <hr/>
                <p>0 Issues</p>
                <hr/>
                <p>0 Unit Tests</p>
            </div>
        </div>
    </div>

    <!-- Icons Grid -->
    <section class="features-icons text-center text-dark">
        <div class="container bg-light">
            <div class="header bg-light">
                <h1 class="text-dark">Repository Info</h1>
                <p class="text-dark">Stats and links to our gitlab repository</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="https://gitlab.com/alinamawji/cs331e-idb/-/tree/master" target="_blank">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-code-branch m-auto text-dark"></i>
                            </div>
                            <h1>25</h1>
                            <h3 class="lead mb-0">Commits</h3>
                            <br/>
                            <p class="text-muted">To our Repository</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://gitlab.com/alinamawji/cs331e-idb/-/issues" target="_blank">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-bug m-auto text-dark"></i>
                            </div>
                            <h1>23</h1>
                            <h3 class="lead mb-0">Issues</h3>
                            <br/>
                            <p class="text-muted">To our Issue Tracker</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="https://gitlab.com/alinamawji/cs331e-idb/-/wikis/home" target="_blank">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-code m-auto text-dark"></i>
                            </div>
                            <h1>0</h1>
                            <h3 class="lead mb-0">Unit Tests</h3>
                            <br/>
                            <p class="text-muted">To our Wiki</p>
                        </div>
                    </a>
                </div>
            </div>
            <br/>

            <div class="header bg-light">
                <h1 class="text-dark">Our Tools and Data</h1>
                <p class="text-dark">What we used to build our site</p>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <a href="https://aws.amazon.com/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fab fa-aws m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Amazon Web Service</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://getbootstrap.com/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="bi bi-bootstrap-fill m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Bootstrap</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fab fa-python m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Flask</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://gitlab.com/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fab fa-gitlab m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Gitlab</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://cloud.google.com/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fab fa-google m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Google Cloud Platform</h5>
                        </div>
                    </a>
                </div>
            </div>
            <br/>
            <div class="header bg-light">
                <p class="text-dark">Data sourced from</p>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <a href="https://api.open.fec.gov/developers/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-hand-holding-usd m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">FEC API</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.senate.gov/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-flag-usa m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Official Senate Site</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.opensecrets.org/open-data/api-documentation" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-eye m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Open Secrets API</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://projects.propublica.org/api-docs/congress-api/" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-book m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Propublica Congress API</h5>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://developer.twitter.com/en/docs/twitter-api/v1" target="_blank">
                        <div class="features-icons-item-sm mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="fab fa-twitter m-auto text-dark"></i>
                            </div>
                            <h5 class="lead mb-0">Twitter API</h5>
                        </div>
                    </a>
                </div>
            </div>
            <br/>
        </div>
    </section>
