<!-- Style content CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Font for icons like check mark -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<!-- Local stylesheet elements -->
<link rel="stylesheet" href="{{ url_for('static',filename='profile.css') }}">

  <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-light static-top">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members')}}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 disabled" type="submit">Search</button>
            </form>
        </div>
</nav>

<div class="container bootdey flex-grow-1 container-p-y">

            <div class="media align-items-center py-3 mb-3">
              <img src="../static/images/b001236.jpg" alt="" class="d-block ui-w-100 rounded-circle">
              <div class="media-body ml-4">
                <h4 class="font-weight-bold mb-0">John Boozman
                  <a class="text-muted font-weight-normal" href="https://twitter.com/JohnBoozman?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@JohnBoozman
                  </a>
                </h4>
                <div class="text-muted mb-2">Republican | Arkansas</div>
              </div>
            </div>

            <div class="card mb-4">
              <div class="card-body">
                <table class="table user-view-table m-0">
                  <tbody>
                    <tr>
                      <td>Website:</td>
                        <td>
                          <a class="" href="http://www.boozman.senate.gov/">http://www.boozman.senate.gov/</a>
                        </td>
                    </tr>
                    <tr>
                      <td>Verified:</td>
                      <td><span class="fa fa-check text-primary"></span>&nbsp; Yes</td>
                    </tr>
                    <tr>
                      <td>Party:</td>
                      <td>Republican</td>
                    </tr>
                    <tr>
                      <td>Senate:</td>
                      <td>Arkansas 112th-117th (2011-Present)</td>
                    </tr>
                    <tr>
                      <td>House:</td>
                      <td>Arkansas, District 3 107th-111th (2001-2011)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr class="border-light m-0">
              <div class="table-responsive">
                <table class="table card-table m-0">
                  <tbody>
                    <tr>
                      <th>Committees</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="https://www.csce.gov/">Commission on Security and Cooperation in Europe</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.agriculture.senate.gov/">Committee on Agriculture, Nutrition, and Forestry (Ranking)
</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.appropriations.senate.gov/">Committee on Appropriations</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.epw.senate.gov/">Committee on Environment and Public Works</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://www.veterans.senate.gov/">Committee on Veterans' Affairs</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card mb-4">
              <div class="row no-gutters row-bordered">
                <div class="d-flex col-md align-items-center">
                  <a class="card-body d-block text-body">
                    <div class="text-muted small line-height-1">Tweets</div>
                    <div class="text-xlarge">6898</div>
                  </a>
                </div>
                <div class="d-flex col-md align-items-center">
                  <a class="card-body d-block text-body">
                    <div class="text-muted small line-height-1">Followers</div>
                    <div class="text-xlarge">100.8K</div>
                  </a>
                </div>
                <div class="d-flex col-md align-items-center">
                  <a class="card-body d-block text-body">
                    <div class="text-muted small line-height-1">Following</div>
                    <div class="text-xlarge">827</div>
                  </a>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">

                <table class="table user-view-table m-0">
                <h6 class="mt-4 mb-3">Contacts</h6>

                <table class="table user-view-table m-0">
                  <tbody>
                    <tr>
                      <td>Phone:</td>
                      <td>(202) 224-4843</td>
                    </tr>
                    <tr>
                      <td>Mail:</td>
                      <td>141 Hart Senate Office Building Washington DC 20510</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>

            <div class="card mb-4">
              <div class="row no-gutters row-bordered">
                <div class="d-flex col-md align-items-center">
                  <a class="card-body d-block text-body">
                    <div class="text-large">Legislative Activity</div>
                  </a>
                  <div class="table-responsive">
                    <table class="table card-table m-0">
                      <tbody>
                        <tr>
                          <td>
                            <p>
                              <h6>Bill S.326 — 117th Congress (2021-2022)</h6>
                              <br>
                              A bill to require the Secretary of Commerce to conduct an assessment and analysis of the effects of broadband deployment and adoption on the economy of the United States, and for other purposes.
                              <br>
                              <br>
                              Introduced: 02/12/2021
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                              <h6>Bill S.247 — 117th Congress (2021-2022)</h6>
                              <br>
                              A bill to amend the Fair Labor Standards Act of 1938 to provide compensatory time for employees in the private sector.
                              <br>
                              <br>
                              Introduced: 02/04/2021
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                              <h6>Bill S.212 — 117th Congress (2021-2022)</h6>
                              <br>
                              A bill to amend the Internal Revenue Code of 1986 to allow a refundable tax credit against income tax for the purchase of qualified access technology for the blind.
                              <br>
                              <br>
                              Introduced: 02/03/2021
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="{{url_for('legislation')}}">Click here to view more</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

        </div>
