<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Style content CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='committees.js')}}"></script>

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <!-- Local stylesheet elements -->
    <link rel="stylesheet" href="{{ url_for('static',filename='committees.css') }}">
</head>

<body>

<!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('members')}}">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled="">Search</button>
            </form>
        </div>
    </nav>

<!-- HEADER -->
    <div class="header">
        <h1>Committees</h1>
        <p>Search for all the committees in the US Congress, who their members are, their subcommittees, and which legislation they are working on in their latest hearings</p>
    </div>

<!-- SEARCH BAR -->
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
            <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="search" class="form-control form-control-lg" placeholder="Start here...">
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary" disabled="">Search</button>
                </div>
            </div>
        </form>
        <br/>
    </div>

<!-- SORTING BUTTONS -->
    <h5 class="text-center text-white">Sort by:</h5>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary btn-sm mr-3 my-1" id="btnSortName">Committee Name</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3 my-1" id="btnSortChair">Chair</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3 my-1" id="btnSortRanking">Ranking Member</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3 my-1" id="btnSortMembers">Number of Members</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3 my-1" id="btnSortSubcom">Number of Subcommittees</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3 my-1" id="btnSortHearing">Most Recent Hearing</button>
    </div>

<!-- CARDS -->
<div id="card-container">
    <div class="row card-row justify-content-center my-3">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title display-4">Agriculture, Nutrition, and Forestry</h3>
                    <h5 class="card-subtitle mb-2 text-muted">Senate</h5>
                    <p>
                        <a href="#" class="card-link committee-chair">Chair: Stabenow, Debbie (D-MI)</a>
                        <a href="#" class="card-link committee-ranking">Ranking Member: Boozman, John (R-AR)</a>
                    </p>

                    <a class="btn btn-primary" data-toggle="collapse" href="#Ag_Nut_For_Members" role="button" aria-expanded="false" aria-controls="Ag_Nut_For_Members">View All Members (22)</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#Ag_Nut_For_SubComit" role="button" aria-expanded="false" aria-controls="Ag_Nut_For_SubComit">View All Subcommittees (5)</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#Ag_Nut_For_Hearings" role="button" aria-expanded="false" aria-controls="Ag_Nut_For_Hearings">View Most Recent Hearings</a>

                    <div class="collapse" id="Ag_Nut_For_Members">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="card my-2">
                                    <div class="card-header h5">
                                        Majority Members
                                    </div>
                                    <ul class="list-group list-group-flush majority-mems">
                                        <li class="list-group-item"><a href="#" class="card-link">Stabenow, Debbie (MI)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Leahy, Patrick J. (VT)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Brown, Sherrod (OH)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Klobuchar, Amy (MN)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Bennet, Michael F. (CO)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Gillibrand, Kirsten E. (NY)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Smith, Tina (MN)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Durbin, Richard J. (IL)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Booker, Cory A. (NJ)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Lujan, Ben Ray (NM)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Warnock, Raphael G. (GA)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card my-2">
                                    <div class="card-header h5">
                                        Minority Members
                                    </div>
                                    <ul class="list-group list-group-flush minority-mems">
                                        <li class="list-group-item"><a href="#" class="card-link">Boozman, John (AR)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">McConnell, Mitch (KY)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Hoeven, John (ND)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Ernst, Joni (IA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Hyde-Smith, Cindy (MS)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Marshall, Roger (KS)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Tuberville, Tommy (AL)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Grassley, Chuck (IA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Thune, John (SD)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Fischer, Deb (NE)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Braun, Mike (IN)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="Ag_Nut_For_SubComit">
                        <div class="card my-2">
                            <div class="card-header h5">
                                Subcommittees
                            </div>
                            <ul class="list-group list-group-flush subcommittees">
                                <li class="list-group-item">Subcommittee on Commodities, Risk Management, and Trade</li>
                                <li class="list-group-item">Subcommittee on Conservation, Forestry, and Natural Resources</li>
                                <li class="list-group-item">Subcommittee on Livestock, Marketing, and Agriculture Security</li>
                                <li class="list-group-item">Subcommittee on Nutrition, Agricultural Research, and Specialty Crops</li>
                                <li class="list-group-item">Subcommittee on Rural Development and Energy</li>
                            </ul>
                        </div>
                    </div>

                    <div class="collapse" id="Ag_Nut_For_Hearings">
                        <div class="card-deck">

                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title h5 latest-hearing">
                                        <!-- Only first hearing in each committee gets the latest-hearing class, this is what it is sorted by -->
                                        <!-- Dates will be pulled from database in ISO format -->
                                        <!-- ISO format is then converted to long date format -->
                                        <!-- Sorting uses a data object created from ISO format in js -->
                                        02-02-2021
                                    </div>
                                    <div class="card-subtitle text-muted">
                                        Buisness Meeting
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No Bills</li>
                                </ul>
                            </div>

                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title h5">
                                        02-02-2021
                                    </div>
                                    <div class="card-subtitle text-muted">
                                        To consider the following nomination: The Honorable Thomas J. Vilsack, of Iowa, to be Secretary of Agriculture
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No Bills</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <a href="https://www.agriculture.senate.gov/" class="card-link" target="_blank">Official Site</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row card-row justify-content-center my-3">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title display-4">Appropriations</h3>
                    <h5 class="card-subtitle mb-2 text-muted">Senate</h5>
                    <p>
                        <a href="#" class="card-link committee-chair">Chair: Leahy, Patrick J. (D-VT)</a>
                        <a href="#" class="card-link committee-ranking">Ranking Member: Shelby, Richard C. (R-AL)</a>
                    </p>

                    <a class="btn btn-primary" data-toggle="collapse" href="#Approp_Members" role="button" aria-expanded="false" aria-controls="Approp_Members">View All Members (30)</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#Approp_SubComit" role="button" aria-expanded="false" aria-controls="Approp_SubComit">View All Subcommittees (12)</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#Approp_Hearings" role="button" aria-expanded="false" aria-controls="Approp_Hearings">View Most Recent Hearings</a>

                    <div class="collapse" id="Approp_Members">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="card my-2">
                                    <div class="card-header h5">
                                        Majority Members
                                    </div>
                                    <ul class="list-group list-group-flush majority-mems">
                                        <li class="list-group-item"><a href="#" class="card-link">Leahy, Patrick J. (VT)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Murray, Patty (WA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Feinstein, Dianne (CA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Durbin, Richard J. (IL)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Reed, Jack (RI)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Tester, Jon (MT)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Shaheen, Jeanne (NH)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Merkley, Jeff (OR)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Coons, Christopher A. (DE)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Schatz, Brian (HI)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Baldwin, Tammy (WI)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Murphy, Christopher (CT)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Manchin, Joe (WV)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Van Hollen, Chris (MD)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Heinrich, Martin (NM)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card my-2">
                                    <div class="card-header h5">
                                        Minority Members
                                    </div>
                                    <ul class="list-group list-group-flush minority-mems">
                                        <li class="list-group-item"><a href="#" class="card-link">Shelby, Richard C. (AL)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">McConnell, Mitch (KY)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Collins, Susan M. (ME)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Murkowski, Lisa (AK)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Graham, Lindsey (SC)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Blunt, Roy (MO)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Moran, Jerry (KS)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Hoeven, John (ND)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Boozman, John (AR)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Capito, Shelley Moore (WV)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Kennedy, John (LA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Hyde-Smith, Cindy (MS)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Braun, Mike (IN)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Hagerty, Bill (TN)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Rubio, Marco (FL)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="Approp_SubComit">
                        <div class="card my-2">
                            <div class="card-header h5">
                                Subcommittees
                            </div>
                            <ul class="list-group list-group-flush subcommittees">
                                <li class="list-group-item">Subcommittee on Agriculture, Rural Development, Food and Drug Administration, and Related Agencies</li>
                                <li class="list-group-item">Subcommittee on Commerce, Justice, Science, and Related Agencies</li>
                                <li class="list-group-item">Subcommittee on Department of Defense</li>
                                <li class="list-group-item">Subcommittee on Department of Homeland Security</li>
                                <li class="list-group-item">Subcommittee on Department of the Interior, Environment, and Related Agencies</li>
                                <li class="list-group-item">Subcommittee on Departments of Labor, Health and Human Services, and Education, and Related Agencies</li>
                                <li class="list-group-item">Subcommittee on Energy and Water Development</li>
                                <li class="list-group-item">Subcommittee on Financial Services and General Government</li>
                                <li class="list-group-item">Subcommittee on Legislative Branch</li>
                                <li class="list-group-item">Subcommittee on Military Construction and Veterans Affairs, and Related Agencies</li>
                                <li class="list-group-item">Subcommittee on State, Foreign Operations, and Related Programs</li>
                                <li class="list-group-item">Subcommittee on Transportation, Housing and Urban Development, and Related Agencies</li>
                            </ul>
                        </div>
                    </div>

                    <div class="collapse" id="Approp_Hearings">
                        <div class="card-deck">

                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title h5 latest-hearing">
                                        09-23-2020
                                    </div>
                                    <div class="card-subtitle text-muted">
                                        Subcommittee Hearing: Oversight of NASA’s Budget and Activities
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No Bills</li>
                                </ul>
                            </div>

                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title h5">
                                        09-16-2020
                                    </div>
                                    <div class="card-subtitle text-muted">
                                        Subcommittee Hearing: Review of Coronavirus Response Efforts
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No Bills</li>
                                </ul>
                            </div>

                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title h5">
                                        07-21-2020
                                    </div>
                                    <div class="card-subtitle text-muted">
                                        Subcommittee Hearing: Hearing to Review U.S. Government Efforts to Address Ocean Plastic Pollution
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No Bills</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <a href="https://www.appropriations.senate.gov/" class="card-link" target="_blank">Official Site</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row card-row justify-content-center my-3">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title display-4">Armed Services</h3>
                    <h5 class="card-subtitle mb-2 text-muted">Senate</h5>
                    <p>
                        <a href="#" class="card-link committee-chair">Chair: Reed, Jack (D-RI)</a>
                        <a href="#" class="card-link committee-ranking">Ranking Member: Inhofe, James M. (R-OK)</a>
                    </p>

                    <a class="btn btn-primary" data-toggle="collapse" href="#Armed_Ser_Members" role="button" aria-expanded="false" aria-controls="Armed_Ser_Members">View All Members (26)</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#Armed_Ser_SubComit" role="button" aria-expanded="false" aria-controls="Armed_Ser_SubComit">View All Subcommittees (7)</a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#Armed_Ser_Hearings" role="button" aria-expanded="false" aria-controls="Armed_Ser_Hearings">View Most Recent Hearings</a>

                    <div class="collapse" id="Armed_Ser_Members">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="card my-2">
                                    <div class="card-header h5">
                                        Majority Members
                                    </div>
                                    <ul class="list-group list-group-flush majority-mems">
                                        <li class="list-group-item"><a href="#" class="card-link">Reed, Jack (RI)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Shaheen, Jeanne (NH)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Gillibrand, Kirsten E. (NY)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Blumenthal, Richard (CT)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Hirono, Mazie K. (HI)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Kaine, Tim (VA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">King, Angus S. (ME)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Warren, Elizabeth (MA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Peters, Gary C. (MI)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Manchin, Joe (WV)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Duckworth, Tammy (IL)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Rosen, Jacky (NV)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Kelly, Mark (AZ)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card my-2">
                                    <div class="card-header h5">
                                        Minority Members
                                    </div>
                                    <ul class="list-group list-group-flush minority-mems">
                                        <li class="list-group-item"><a href="#" class="card-link">Inhofe, James M. (OK)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Wicker, Roger F. (MS)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Fischer, Deb (NE)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Cotton, Tom (AR)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Rounds, Mike (SD)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Ernst, Joni (IA)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Tillis, Thom (NC)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Sullivan, Dan (AK)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Cramer, Kevin (ND)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Scott, Rick (FL)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Blackburn, Marsha (TN)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Hawley, Josh (MO)</a></li>
                                        <li class="list-group-item"><a href="#" class="card-link">Tuberville, Tommy (AL)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="Armed_Ser_SubComit">
                        <div class="card my-2">
                            <div class="card-header h5">
                                Subcommittees
                            </div>
                            <ul class="list-group list-group-flush subcommittees">
                                <li class="list-group-item">Subcommittee on Airland</li>
                                <li class="list-group-item">Subcommittee on Cybersecurity</li>
                                <li class="list-group-item">Subcommittee on Emerging Threats and Capabilities</li>
                                <li class="list-group-item">Subcommittee on Personnel</li>
                                <li class="list-group-item">Subcommittee on Readiness and Management Support</li>
                                <li class="list-group-item">Subcommittee on SeaPower</li>
                                <li class="list-group-item">Subcommittee on Strategic Forces</li>
                            </ul>
                        </div>
                    </div>

                    <div class="collapse" id="Armed_Ser_Hearings">
                        <div class="card-deck">

                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title h5 latest-hearing">
                                        03-02-2021
                                    </div>
                                    <div class="card-subtitle text-muted">
                                        Global Security Challenges and Strategy
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No Bills</li>
                                </ul>
                            </div>

                            <div class="card my-2">
                                <div class="card-header">
                                    <div class="card-title h5">
                                        02-25-2021
                                    </div>
                                    <div class="card-subtitle text-muted">
                                        Department of Defense Support to the COVID-19 Response
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No Bills</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <a href="https://www.armed-services.senate.gov/" class="card-link" target="_blank">Official Site</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGINATION BAR -->
    <div class="d-flex justify-content-center">
        <div class="col-12">
            <div class="text-right">
                <ul class="pagination pagination-split mt-5 float-right">
                    <li class="page-item"><a class="page-link disabled" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a class="page-link disabled" href="#">1</a></li>
                    <li class="page-item"><a class="page-link disabled" href="#">2</a></li>
                    <li class="page-item"><a class="page-link disabled" href="#">3</a></li>
                    <li class="page-item"><a class="page-link disabled" href="#">4</a></li>
                    <li class="page-item"><a class="page-link disabled" href="#">5</a></li>
                    <li class="page-item"><a class="page-link disabled" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>