<!-- Style content CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Font for icons like check mark -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<!-- Local stylesheet elements -->
<link rel="stylesheet" href="{{ url_for('static',filename='profile.css') }}">

  <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-light static-top">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members')}}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 disabled" type="submit">Search</button>
            </form>
        </div>
</nav>

<div class="container bootdey flex-grow-1 container-p-y">

  <div class="media align-items-center py-3 mb-3">
    <div class="media-body ml-4">
      <h3 class="mb-0">H.R.1083 — 117th Congress (2021-2022)</h3>
      <div class="text-muted text-medium mb-0">House of Representatives</div>
    </div>
    <img src="../static/images/bill.png" alt="" class="d-block ui-w-100">
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table user-view-table m-0">
        <tbody>
          <tr>
            <td>Description:</td>
              <td>
                To require a strategy for engagement with Southeast Asia and the Association of Southeast Asian Nations (ASEAN).
              </td>
          </tr>
          <tr>
            <td>Sponsor:</td>
              <td>
                <a href="#" class="disabled">Representative Ann Wagner (R-MO)</a>
              </td>
          </tr>
          <tr>
            <td>Introduced:</td>
            <td>02/15/2021</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="border-light m-0">
    <div class="table-responsive">
      <table class="table card-table m-0">
        <tbody>
          <tr>
            <th>Committees</th>
          </tr>
          <tr>
            <td>
              <a href="https://foreignaffairs.house.gov/">Foreign Affairs</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table user-view-table m-0">
        <h3 class="text-medium mt-2 mb-3">Actions:</h3>
        <thead>
          <th>
            Date
          </th>
          <th>
            All Actions
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
              02/15/2021
            </td>
            <td>
                Referred to the House Committee on Foreign Affairs.
              <br>
              <br>
              Action By: House of Representatives
            </td>
          </tr>
          <tr>
            <td>
              02/15/2021
            </td>
            <td>
              Introduced in House
              <br>
              <br>
              Action By: House of Representatives
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table user-view-table m-0">
        <h3 class="text-medium mt-2 mb-4">Other Legislation by this Sponsor</h3>
        <tbody>
          <tr>
            <a href="hr619.html" class="disabled">H.R.619 — 117th Congress (2021-2022)</a>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
