<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Homepage for CongressCentral">
  <meta name="author" content="Michael DiLeo">

  <title>CongressCentral</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='landing-page.css') }}" rel="stylesheet">

  <!-- JS for Navbar Collapse -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>

</head>

<body class="bg-light">

  <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-light static-top">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members')}}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
        </div>
    </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Welcome to CongressCentral!</h1>
          <h3 class="mb-5">Search below for your state, congressmen, or legislation</h3>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="{{url_for('index')}}" method="POST">
            <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0" class="form-row">
                    <input type="search" id="input" class="form-control form-control-lg" placeholder="Start here..." name="user_input">
                </div>
                <div class="col-12 col-md-3">
                    <input type="submit" id="searchbuttonid" class="btn btn-block btn-lg btn-primary" value="Search" name="action"></input>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
        <a href="{{url_for('members')}}">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-user-circle m-auto text-primary"></i>
            </div>
            <h3>Members</h3>
            <p class="lead mb-0">Find yours or any senator within the current United States Congress</p>
          </div>
        </a>
        </div>
        <div class="col-lg-4">
        <a href="{{url_for('committees')}}">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-university m-auto text-primary"></i>
            </div>
            <h3>Committees</h3>
            <p class="lead mb-0">Search through all of the major committees that encompass the day to day workings of Congress</p>
          </div>
        </a>
        </div>
        <div class="col-lg-4">
        <a href="{{url_for('legislation')}}">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-balance-scale m-auto text-primary"></i>
            </div>
            <h3>Legislation</h3>
            <p class="lead mb-0">Search current or other important legislation in the Congress</p>
          </div>
        </a>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-light text-center align-middle">
    <div class="row">
      <p class="col">Last Edited: <script>document.write(document.lastModified);</script></p>
      <p class="col">Created by Andrew Kim, Alina Mawji, Michael DiLeo, and Robert Everson</p>
      <p class="col"><a href="https://gitlab.com/alinamawji/cs331e-idb" target="_blank" style="text-decoration: underline">GitLab Repository</a></p>
    </div>
  </footer>
</body>
</html>