<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Style content CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Font for icons like check mark -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- Local stylesheet elements -->
  <link rel="stylesheet" href="{{ url_for('static',filename='profile.css') }}">

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-light static-top">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members')}}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 disabled" type="submit">Search</button>
            </form>
        </div>
</nav>

<div class="container bootdey flex-grow-1 container-p-y">

{% for i in legislation %}
    {% if i.bill_id == bill_id %}

  <div class="media align-items-center py-3 mb-3 mt-3 bg-white">
    <div class="media-body ml-4">
      <h3 class="mb-0">{{i.bill_number}}</h3>
      <div class="text-muted text-medium mb-0">Senate</div>
    </div>
    {% if i.type == 's' %}
      <img src="{{ url_for('static',filename='images/bill.png')}}" class="d-block ui-w-100 mr-5"/>
    {% endif %}
    {% if i.type == 'sres' %}
      <img src="{{ url_for('static',filename='images/resolution.png')}}" class="d-block ui-w-100 mr-5"/>
    {% endif %}
    {% if i.type == 'sjres' %}
      <img src="{{ url_for('static',filename='images/jointresolution.png')}}" class="d-block ui-w-100 mr-5"/>
    {% endif %}
    {% if i.type == 'sconres' %}
      <img src="{{ url_for('static',filename='images/concurrentresolution.png')}}" class="d-block ui-w-100 mr-5"/>
    {% endif %}
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table user-view-table m-0">
        <tbody>
          <tr>
            <td>Description:</td>
              <td>
                {{i.summary}}
              </td>
          </tr>
          <tr>
            <td>Sponsor:</td>
              <td>
                {% set sponsor_id = i.sponsor_id %}
                {% for j in member %}
                  {% if j.id == sponsor_id %}
                <a href="{{url_for('individual_member', member_id=sponsor_id)}}">Senator {{j.lname}}{{ j.namesuffix if j.namesuffix is not none else ''}}, {{j.fname}} {{ j.mname if j.mname is not none else '' }} ({{j.party}}-{{j.state}})</a>
                  {% endif %}
                {% endfor %}
              </td>
          </tr>
          <tr>
            <td>Introduced:</td>
            <td>{{i.date_introduced}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="border-light m-0">
    <div class="table-responsive">
      <table class="table card-table m-0">
        <tbody>
          <tr>
            <th>Committees</th>
          </tr>
          {% for j in is_pushed_through %}
            {% if j.bill_id == bill_id %}
              <tr>
                <td>
                  <a href="{{url_for('individual_committee', committee_id=j.committee_id)}}">
                    {% for k in committee %}
                      {% if k.id == j.committee_id %}
                        {{k.name}}
                      {% endif %}
                    {% endfor %}
                  </a>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table user-view-table m-0">
        <h3 class="text-medium mt-2 mb-3">Actions:</h3>
        <thead>
          <th>
            Date
          </th>
          <th>
            All Actions
          </th>
        </thead>
        <tbody>
          {% for j in action %}
            {% if j.bill_id == bill_id %}
          <tr>
            <td>
              {{j.date}}
            </td>
            <td>
                {{j.description}}
              <br>
              <br>
              Action By: Senate
            </td>
          </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <table class="table user-view-table m-0">
        <h3 class="text-medium mt-2 mb-4">Other Legislation by this Sponsor</h3>
        <tbody>
      {% for j in legislation %}
        {% if j.sponsor_id == sponsor_id %}
          <tr>
            <td>
              <a href="{{url_for('individual_legislation', bill_id=j.bill_id)}}">{{j.bill_number}}</a><p>{{j.summary}}</p>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endif %}
{% endfor %}

</div>
<footer class="bg-light text-center align-middle">
    <div class="row">
      <p class="col">Last Edited: <script>document.write(document.lastModified);</script></p>
      <p class="col">Created by Andrew Kim, Alina Mawji, Michael DiLeo, and Robert Everson</p>
      <p class="col"><a href="https://gitlab.com/alinamawji/cs331e-idb" target="_blank" style="text-decoration: underline">GitLab Repository</a></p>
    </div>
  </footer>
</body>
</html>