<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Style content CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

    <!-- Local stylesheet elements -->
    <link rel="stylesheet" href="{{ url_for('static',filename='legislation.css') }}">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>

</head>

<body>

<!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members')}}">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled="">Search</button>
            </form>
        </div>
    </nav>

<!-- HEADER -->
    <div class="header">
        <h1>Legislation</h1>
        <p>Search current or other important legislation in the Congress</p>
    </div>

<!-- SEARCH BAR -->
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
            <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="search" class="form-control form-control-lg" placeholder="Start here...">
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary" disabled="">Search</button>
                </div>
            </div>
        </form>
        <br/>
    </div>

<!-- SORT EXAMPLE -->
  <div class="row justify-content-center mb-4">
    <div class="dropdown">
      <button class="btn btn-secondary mr-3 dropdown-toggle" type="button" style="float: right;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" id="titleSortA">Title A-Z</button>
        <button class="dropdown-item" id="titleSortD">Title Z-A</button>
        <button class="dropdown-item" id="memSortA">Member A-Z</button>
        <button class="dropdown-item" id="memSortD">Member Z-A</button>
        <button class="dropdown-item" id="dateSortA">Date Low-Hi</button>
        <button class="dropdown-item" id="dateSortD">Date Hi-Low</button>
        <button class="dropdown-item" id="origSortA">Origin A-Z</button>
        <button class="dropdown-item" id="origSortD">Origin Z-A</button>
        <button class="dropdown-item" id="typeSortA">Cosponsors Low-Hi</button>
        <button class="dropdown-item" id="typeSortD">Cosponsors Hi-Low</button>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("titleSortA").addEventListener("click", sortTitleAsc)
    function sortTitleAsc (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".card-title").text() > $(b).find(".card-title").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("titleSortD").addEventListener("click", sortTitleDes)
    function sortTitleDes (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".card-title").text() < $(b).find(".card-title").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("memSortA").addEventListener("click", sortMemAsc);
    function sortMemAsc (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".sponsor").text() > $(b).find(".sponsor").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("memSortD").addEventListener("click", sortMemDes);
    function sortMemDes (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".sponsor").text() < $(b).find(".sponsor").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("dateSortA").addEventListener("click", sortDateAsc);
    function sortDateAsc (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".date").text() > $(b).find(".date").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("dateSortD").addEventListener("click", sortDateDes);
    function sortDateDes (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".date").text() < $(b).find(".date").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("origSortA").addEventListener("click", sortOrigAsc);
    function sortOrigAsc (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".origin").text() > $(b).find(".origin").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("origSortD").addEventListener("click", sortOrigDes);
    function sortOrigDes (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".origin").text() < $(b).find(".origin").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("typeSortA").addEventListener("click", sortTypeAsc);
    function sortTypeAsc (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".card-header").text() > $(b).find(".card-header").text() ? 1 : -1;
      }).appendTo(".card-deck")};

    document.getElementById("typeSortD").addEventListener("click", sortTypeDes);
    function sortTypeDes (){
      $('.card-deck .card').sort(function(a,b) {
          return $(a).find(".card-header").text() < $(b).find(".card-header").text() ? 1 : -1;
      }).appendTo(".card-deck")};
  </script>

<!-- CARDS -->
  <div class="container-fluid justify-content-center">
    <div class="card-deck">
      {% for i in legislation.items %}
        <div class="card mb-4">
          <div class="card-header">{{i.type}}</div>
          <div class="card-body">
            <h5 class="card-title"><a href="{{url_for('sres58')}}">{{i.bill_number}}</a></h5>
            <p id="description" class="card-text">{{i.summary}}</p>
            <p class="card-text-att">Sponsor: <br>
              <p class="sponsor card-text"><a href="{{url_for('cardin')}}" class="card-text">Cardin, Senator Benjamin L. (D-MD)</a></p>
            </p>
            <p class="card-text-att">Introduced: <br>
              <p class="date card-text">{{i.date_introduced}}</p>
            </p>
            <p class="card-text-att"># Cosponsors: <br>
              <p class="origin card-text">{{i.cosponsors}}</p>
            </p>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

<!-- PAGINATION BAR -->
  <div class="d-flex justify-content-center">
      <div class="col-12">
          <div class="text-right">
              <ul class="pagination pagination-split mt-5 float-right">
                  <li class="page-item">

                      {% if member.has_prev %}
                          <a href="{{ url_for('members', page=member.prev_num) }}" class="btn btn-light {% if member.page == 1 %}disabled{% endif %}">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                      {% endif %}

                      {% for page in member.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}

                          {% if page %}
                            {% if page != member.page %}
                              <a href="{{ url_for('members', page=page) }}" class="btn btn-light">{{ page }}</a>
                            {% else %}
                              <strong class="btn btn-light">{{ page }}</strong>
                            {% endif %}
                          {% else %}
                            <span class=ellipsis>…</span>
                          {% endif %}

                      {% endfor %}

                      {% if member.has_next %}
                          <a href="{{ url_for('members', page=member.next_num) }}" class="btn btn-light {% if member.has_next and member.page == member.pages %}disabled{% endif %}">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      {% endif %}

                  </li>
              </ul>
          </div>
      </div>
  </div>

</body>
</html>
