<!DOCTYPE html>

<!-- Style content CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<!-- Font -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<!-- Local stylesheet elements -->
<link rel="stylesheet" href="{{ url_for('static',filename='members.css') }}">

<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/favicon.png') }}"/>


<head>
    <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" href="{{url_for('index')}}">CongressCentral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('members')}}">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('committees')}}">Committees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('legislation')}}">Legislation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled="">Search</button>
            </form>
        </div>
    </nav>

    <!-- DESCRIPTION -->
    <div class="header">
        <h1>Members</h1>
        <p>Find yours or any member within the current United States Congress</p>
    </div>

    <!-- SEARCH BAR -->
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
            <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="search" class="form-control form-control-lg" placeholder="Start here...">
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary" disabled="">Search</button>
                </div>
            </div>
        </form>
        <br/>
    </div>

</head>

<body>
    <div class="container table-responsive table-wrapper-scroll-y my-custom-scrollbar">
        <table id="usersTable" class="table table-light table-md table-hover w3-table-all">
            <thead class="thead-dark">
                <tr>
                    <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(1)')">Name <img src="{{ url_for('static',filename='images/updown.png') }}" class="img-arrow"></th>
                    <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(2)')">State Rank <img src="{{ url_for('static',filename='images/updown.png') }}" class="img-arrow"></th>
                    <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(3)')">Party <img src="{{ url_for('static',filename='images/updown.png') }}" class="img-arrow"></th>
                    <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(4)')">State <img src="{{ url_for('static',filename='images/updown.png') }}" class="img-arrow"></th>
                    <th onclick="w3.sortHTML('#usersTable', '.item', 'td:nth-child(5)')">Votes With Party % <img src="{{ url_for('static',filename='images/updown.png') }}" class="img-arrow"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in members.items %}
                    <tr class="item">
                        <td>
                            <a href="{{url_for('{{i.Lname}}'')}}" class="text-name">Senator {{i.Lname}} {{ i.suffix if i.suffix is not none else '' }}, {{i.Fname}} {{ i.MI if i.MI is not none else '' }}</a>
                            <div class="image-fluid"><img src="{{ url_for('static',filename='images/b001230.jpg') }}" class="img-thumbnail"></div>
                        </td>
                        <td>
                            <p class="text-muted">{{i.state_rank}}</p>
                        </td>
                        <td>
                            <p class="text-muted">{{i.party}}</p>
                        </td>
                        <td>
                            <p class="text-state">{{i.state}}</p>
                        </td>
                        <td>
                            <p class="text-twitter">{{i.votes_w_party}}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

            <!-- pagination bar -->
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="text-right">
                        <ul class="pagination pagination-split mt-5 float-right">
                            <li class="page-item">
                                <a href="{{ url_for('members', page=members.prev_num) }}" class="btn btn-outline-dark {% if members.page == 1 %}disabled{% endif %}"> &laquo; </a>

                                <!-- ORIGINAL -->
                                <!-- <a class="page-link disabled" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a> -->
                            </li>
                            {% for page_num in members.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

                                {% if page_num %}
                                    <!-- Check for the active page and set the link to "Active"-->
                                    {% if members.page == page_num %}
                                        <li class="page-item"><a href="{{ url_for('members', page=page_num) }}" class="btn btn-dark"> {{ page_num }}</a></li>

                                        <!-- ORIGINAL -->
                                        <!-- <li class="page-item"><a class="page-link disabled" href="#">1</a></li> -->

                                    {% else %}
                                        <li class="page-item"><a href="{{ url_for('members', page=page_num) }}" class="btn btn-outline-dark"> {{ page_num }}</a></li>

                                        <!-- ORIGINAL -->
                                        <!-- <li class="page-item"><a class="page-link disabled" href="#">2</a></li> -->

                                    {% endif %}

                                    {% else %}
                                        ...
                                    {% endif %}

                            {% endfor %}

                            <li class="page-item"><a href="{{ url_for('members', page=members.next_num) }}" class="btn btn-outline-dark {% if members.page == members.pages %}disabled{% endif %}"> &raquo;</a></li>

                            <!-- ORIGINAL -->
                            <!-- <li class="page-item"><a class="page-link disabled" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li> -->

                        </ul>
                    </div>
                </div>
            </div>

</body>